*.o
*.o.d
*.a
*.so
*.ko
*.symvers
*.mod
*.mod.c
*.cmd
*.order
build
CMakeLists.txt.user
meson.build.user
*.autosave
*.swp
.vscode
*.deb
.gdb_history
obj/
*.kdev4
.kdev4/
*.kate-swp
imgui.ini
x64
.vs/
*.save
*.sch-bak
__pycache__


subprojects/*
!subprojects/*.wrap
